{
	"presets": [
		[
			"@babel/preset-env",
			{
				"corejs": "2.x",
        		"useBuiltIns": "usage",
				"shippedProposals": true,
				"targets": {
					"node": "current"
				}
			}
		]
	],
  	"plugins": [],
  	"minified": false
}
